<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Networking</h3>
                    <p class="text-muted">SpatialW works with conference organizers to hold networking and educational events at various conferences, and maintains SpatialW mailing list to share valuable announcements.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">Career Development Mentoring / Invited Talk</h3>
                    <p class="text-muted">SpatialW connects with female senior researchers in academia and industry to offer career development mentoring.</p>
                </div>
            </div>
        </div>
    </section>