<!-- About Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-circle img-responsive" src="img/about/1.jpeg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="timeline-heading">
                        <h4>Nov. 2022 </h4>
                        <h4 class="subheading">Women @ ACM SIGSPATIAL '22</h4>
                    </div>
                    <p class="text-muted">A first networking event for female graduate students in ACM SIGSPATIAL.
                        We gathered at the public lounge at the Seattle Marriott Waterfront hotel
                        and shared our experiences as female researchers from various computer science and geospatial communities.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="timeline-heading">
                        <h4>Mar. 2023</h4>
                        <h4 class="subheading">AAG '23 (expected) </h4>
                    </div>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>