<!-- About Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-circle img-responsive" src="img/about/sigspatial2023.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="timeline-heading">
                        <h4>Nov. 2023</h4>
                        <h4 class="subheading">Networking session for underrepresented groups @ ACM SIGSPATIAL '23</h4>
                    </div>
                    <p class="text-muted">
                        We organized the second networking event at the SIGSPATIAL with 17 participants and 3 invited mentors, Prof. Li Xiong, Dr. Lexie Yang, and Prof. Christine Bassem. 
                        The mentors shared valuable networking strategies, career development experiences, and their PhD lives.
                    </p>
                </div>
            </div>
            
            <br>
            
            <div class="row">
                <div class="col-md-6">
                    <img class="img-circle img-responsive" src="img/about/sdm2023.jpeg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="timeline-heading">
                        <h4>Apr. 2023</h4>
                        <h4 class="subheading">Networking session for underrepresented groups @ SIAM SDM '23</h4>
                    </div>
                    <p class="text-muted">
                        We organized a unique networking event aimed at promoting diversity in computer science. Dr. Diane Oyen from Los Alamos National Laboratory gave an invited talk and shared her insights on career development. 
                        We had the opportunity to connect with researchers from diverse backgrounds and build meaningful professional relationships while supporting diversity in the field. 
                    </p>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="timeline-heading">
                        <h4>Mar. 2023</h4>
                        <h4 class="subheading">Invited Talk @ Thomas Jefferson Science and Technology High School  </h4>
                    </div>
                    <p class="text-muted">We gave a talk entitled "A Roadmap to Becoming a Computer Scientist" to an audience of 30 individuals at the Computer Club.</p>
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-6">
                    <img class="img-circle img-responsive" src="img/about/sigspatial2022.jpeg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="timeline-heading">
                        <h4>Nov. 2022 </h4>
                        <h4 class="subheading">Women @ ACM SIGSPATIAL '22</h4>
                    </div>
                    <p class="text-muted">
                        We had the first networking event for female graduate students at ACM SIGSPATIAL '22, gathering at the public lounge at the Seattle Marriott Waterfront hotel. 
                        We shared our experiences as female researchers from various computer science and geospatial communities.</p>
                </div>
            </div>

        </div>
    </section>
