<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
        <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
          <h1 id="title">SpatialW</h1>
          <p>
           Spatial Women aims to network with female researchers in the spatial field, organize networking events at conferences, and offer career development mentoring and invited talks from senior female researchers.
          </p>
        </div>
    </div>
  </div>
</div>