<!-- Clients Aside -->
    <aside class="clients">
        <div class="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://knowledge-computing.github.io">
                        <img src="https://knowledge-computing.github.io/images/knowledge_computing_sticker.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
<!--                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">-->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
<!--                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">-->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
<!--                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">-->
                    </a>
                </div>
            </div>
        </div>
            </div>
    </aside>